<div class="user-details">
  <h2 style="font-size: 2.5rem;">MY LITTLE PORTFOLIO</h2>
</div>

<div class="box">
  <div class="user-projects">
    <div class="images-left">
      <a href="https://stillfriends.com"><img alt="HAVE YOU EVER WONDERED WHO DELETED YOU ON FACEBOOK?" src="{{ "https://stillfriends.app/img/Icon-Rounded-512.png" | prepend: site.baseurl }}" /></a>
    </div>
    <div class="contents-right">
      <h2><a href="https://stillfriends.com"> STILL FRIENDS FOR FACEBOOK </a></h2>
      <h2>WHO UNFRIENDED ME ON FACEBOOK?</h2>
      <p>Have you ever wondered who deleted you on Facebook? Still Friends will answer to who unfriended you on Facebook!
      <br>
      <br>&#9642; Just one tap to find out who deleted you. 
      <br>&#9642; The only unfriended app working in the App Store.
      <br>
      <br>
      </p>
      <center><a href="https://apps.apple.com/app/still-friends-for-facebook/id1122583310?pt=674507&ct=bobgoo&mt=8"><img src="/assets/img/Download_on_the_App_Store_Badge_US-UK_135x40.svg" width="200"></a></center>
    </div>
  </div>
</div>
<br>
<div class="box">
  <div class="user-projects">
    <div class="images-left">
      <a href="https://stillfriends.com"><img alt="HAVE YOU EVER WONDERED WHO DELETED YOU ON LINKEDIN?" src="{{ "https://stillfriends.app/img/Icon-Rounded-LinkedIn-512.png" | prepend: site.baseurl }}" /></a>
    </div>
    <div class="contents-right">
      <h2><a href="https://stillfriends.com"> STILL FRIENDS FOR LINKEDIN </a></h2>
      <h2>WHO UNFRIENDED ME ON LINKEDIN?</h2>
      <p>Have you ever wondered who deleted you on LinkedIn? Still Friends will answer to who unfriended you on LinkedIn!
      <br>
      <br>&#9642; Just one tap to find out who deleted you. 
      <br>&#9642; The only unfriended app for LinkedIn in the App Store.
      <br>
      <br>
      </p>
      <center><a href="https://apps.apple.com/app/still-friends-for-linkedin/id1472334400?pt=674507&ct=bobgoo&mt=8"><img src="/assets/img/Download_on_the_App_Store_Badge_US-UK_135x40.svg" width="200"></a></center>
    </div>
  </div>
</div>
<br>
<div class="box">
  <div class="user-projects">
    <div class="images-left">
      <a href="https://stillfriends.com"><img alt="HAVE YOU EVER WONDERED WHO DELETED YOU ON ROBLOX?" src="{{ "https://stillfriends.app/img/Icon-Rounded-Roblox-512.png" | prepend: site.baseurl }}" /></a>
    </div>
    <div class="contents-right">
      <h2><a href="https://stillfriends.com"> STILL FRIENDS FOR ROBLOX </a></h2>
      <h2>WHO UNFRIENDED ME ON ROBLOX?</h2>
      <p>Have you ever wondered who deleted you on Roblox? Still Friends will answer to who unfriended you on Roblox!
      <br>
      <br>&#9642; Just one tap to find out who deleted you. 
      <br>&#9642; The only unfriended app for Roblox in the App Store.
      <br>
      <br>
      </p>
      <center><a href="https://apps.apple.com/app/still-friends-for-roblox/id6443720641?pt=674507&ct=bobgoo&mt=8"><img src="/assets/img/Download_on_the_App_Store_Badge_US-UK_135x40.svg" width="200"></a></center>
    </div>
  </div>
</div>
<br>
<div class="box">
  <div class="user-projects">
    <div class="images-left">
      <a href="https://stillfollowers.app/tiktok/"><img alt="GET MORE FOLLOWERS ON TIKTOK" src="{{ "https://stillfollowers.app/assets/img/tiktok/Icon-Rounded-512.png" | prepend: site.baseurl }}" /></a>
    </div>
    <div class="contents-right">
      <h2><a href="https://stillfollowers.app/tiktok/"> STILL FOLLOWERS FOR TIKTOK </a></h2>
      <h2>GET FOLLOWERS FOR TIKTOK!</h2>
      <p>Go big on TikTok with Still Followers! Legally!
	  <br>
      <br>&#9642; The best strategy to get more followers on TikTok.
      <br>&#9642; The first and only app of this kind in the AppStore.      
	  <br>
	  <br>
	  <br>
	  </p>
      <center><a href="https://apps.apple.com/app/still-followers-for-tiktok/id1518561859?pt=674507&ct=bobgoo&mt=8"><img src="/assets/img/Download_on_the_App_Store_Badge_US-UK_135x40.svg" width="200"></a></center>
    </div>
  </div>
</div>
<br>
<div class="box">
  <div class="user-projects">
    <div class="images-left">
      <a href="https://stillfollowers.app/instagram/"><img alt="GET MORE FOLLOWERS ON INSTAGRAM" src="{{ "https://stillfollowers.app/assets/img/instagram/Icon-Rounded-512.png" | prepend: site.baseurl }}" /></a>
    </div>
    <div class="contents-right">
      <h2><a href="https://stillfollowers.app/instagram/"> STILL FOLLOWERS FOR INSTAGRAM </a></h2>
      <h2>GET FOLLOWERS FOR INSTAGRAM!</h2>
      <p>Go big on Instagram with Still Followers!
	  <br>
      <br>&#9642; The best strategy to get more followers on Instagram.
      <br>&#9642; Do not risk your account with other apps.      
	  <br>
	  <br>
	  <br>
	  </p>
      <center><a href="https://apps.apple.com/app/still-followers-for-instagram/id1394497522?pt=674507&ct=bobgoo&mt=8"><img src="/assets/img/Download_on_the_App_Store_Badge_US-UK_135x40.svg" width="200"></a></center>
    </div>
  </div>
</div>
<br>
<div class="box">
  <div class="user-projects">
    <div class="images-left">
      <a href="https://stillfollowers.app/twitter/"><img alt="GET MORE FOLLOWERS ON TWITTER" src="{{ "https://stillfollowers.app/assets/img/twitter/Icon-Rounded-512.png" | prepend: site.baseurl }}" /></a>
    </div>
    <div class="contents-right">
      <h2><a href="https://stillfollowers.app/twitter/"> STILL FOLLOWERS FOR TWITTER </a></h2>
	    <h2>GET FOLLOWERS FOR TWITTER!</h2>
	    <p>How to succeed on Twitter? Get the Still Followers app!
	    <br>
        <br>&#9642; Tested strategy to grow your Twitter followers.
        <br>&#9642; Do not risk your account by buying followers. 
	    <br>
	    <br>	    
	    <br>
	    </p>
	    <center><a href="https://apps.apple.com/app/still-followers-for-twitter/id1136209740?pt=674507&ct=bobgoo&mt=8"><img src="/assets/img/Download_on_the_App_Store_Badge_US-UK_135x40.svg" width="200"></a></center>
    </div>
  </div>
</div>
<br>
<div class="box">
  <div class="user-projects">
    <div class="images-left">
      <a href="https://stillfollowers.app/twitter/"><img alt="GET MORE FOLLOWERS ON MASTODON" src="{{ "https://stillfollowers.app/assets/img/mastodon/Icon-Rounded-512.png" | prepend: site.baseurl }}" /></a>
    </div>
    <div class="contents-right">
      <h2><a href="https://stillfollowers.app/mastodon/"> STILL FOLLOWERS FOR MASTODON </a></h2>
	    <h2>GET FOLLOWERS FOR MASTODON!</h2>
	    <p>How to succeed on Mastodon? Get the Still Followers app!
	    <br>
        <br>&#9642; Tested strategy to grow your Mastodon followers.
        <br>&#9642; Do not risk your account by buying followers. 
	    <br>
	    <br>	    
	    <br>
	    </p>
	    <center><a href="https://apps.apple.com/app/still-followers-for-mastodon/id6444406285?pt=674507&ct=bobgoo&mt=8"><img src="/assets/img/Download_on_the_App_Store_Badge_US-UK_135x40.svg" width="200"></a></center>
    </div>
  </div>
</div>
<br>
<div class="box">
  <div class="user-projects">
    <div class="images-left">
      <a href="https://safeweb.bobgoo.com"><img alt="DO YOU KNOW WHAT THEY BROWSE?" src="{{ "https://safeweb.bobgoo.com/img/Icon-Rounded-512.png" | prepend: site.baseurl }}" /></a>
    </div>
    <div class="contents-right">
      <h2><a href="https://safeweb.bobgoo.com"> SAFE WEB FOR KIDS </a></h2>
      <h2>DO YOU KNOW WHAT THEY BROWSE?</h2>
      <p>Average age at which your children will first watch porn is 11... Do something now!
      <br>
      <br>&#9642; 34% of the Internet users experienced unwanted exposure to adult content.
      <br>&#9642; Let your children browse only pure content.
      <br>
	  </p>
	  <center><a href="https://apps.apple.com/app/safe-web-for-kids/id460723131?pt=674507&ct=bobgoo&mt=8"><img src="/assets/img/Download_on_the_App_Store_Badge_US-UK_135x40.svg" width="200"></a></center>
    </div>
  </div>
</div>