<div class="user-details">
  <h2 style="font-size: 2.5rem;">The must-have apps for 2019</h2>
</div>

<div class="box">
  <div class="user-projects">
    <div class="images-left">
      <a href="https://stillfriends.app"><img alt="HAVE YOU EVER WONDERED WHO DELETED YOU ON FACEBOOK?" src="{{ "https://stillfriends.app/img/FBBanner.png" | prepend: site.baseurl }}" /></a>
    </div>
    <div class="contents-right">
      <h2><a href="https://stillfriends.app"> STILL FRIENDS FOR FACEBOOK </a></h2>
      <h2>WHO UNFRIENDED ME ON FACEBOOK?</h2>
      <p>Who deleted me on Facebook? Still Friends will find out who unfriended you!</p>
      <p class="center"><a href="https://stillfriends.app">WHO DELETED ME?</a></p>
    </div>
  </div>
</div>
<br>
<div class="box">
  <div class="user-projects">
    <div class="images-left">
      <a href="https://stillfollowers.app/instagram"><img alt="GET MORE FOLLOWERS ON INSTAGRAM" src="{{ "https://stillfollowers.app/assets/img/instagram/FBBanner.png" | prepend: site.baseurl }}" /></a>
    </div>
    <div class="contents-right">
      <h2><a href="https://stillfollowers.app/instagram"> STILL FOLLOWERS FOR INSTAGRAM </a></h2>
	    <h2>GET FOLLOWERS FOR INSTAGRAM!</h2>
	    <p>Manage your Instagram account with Still Followers and go big!</p>
	    <p class="center"><a href="https://stillfollowers.app/instagram">GET FOLLOWERS NOW!</a></p>
    </div>
  </div>
</div>
<br>
<div class="box">
  <div class="user-projects">
    <div class="images-left">
      <a href="https://stillfollowers.app/twitter"><img alt="GET MORE FOLLOWERS ON TWITTER" src="{{ "https://stillfollowers.app/assets/img/twitter/FBBanner.png" | prepend: site.baseurl }}" /></a>
    </div>
    <div class="contents-right">
      <h2><a href="https://stillfollowers.app/twitter"> STILL FOLLOWERS FOR TWITTER </a></h2>
	    <h2>GET FOLLOWERS FOR TWITTER!</h2>
	    <p>Manage your Twitter account with Still Followers in order to achieve instant success!</p>
	    <p class="center"><a href="https://stillfollowers.app/twitter">GET FOLLOWERS NOW!</a></p>
    </div>
  </div>
</div>
<br>
<!--<div class="box">
  <div class="user-projects">
    <div class="images-left">
      <a href="https://bobzon.app"><img alt="DON'T MISS AN AMAZON PRICE DROP NEVER AGAIN!" src="{{ "https://bobzon.app/img/FBBanner.png" | prepend: site.baseurl }}" /></a>
    </div>
    <div class="contents-right">
      <h2><a href="https://bobzon.app"> BOBZON FOR AMAZON </a></h2>
	    <h2>PRICE DROP TRACKER FOR AMAZON</h2>
	    <p>Track your favourite Amazon products and get alerted when your desired price is reached!</p>
	    <p class="center"><a href="https://bobzon.app">SAVE MONEY NOW!</a></p>
    </div>
  </div>
</div>
<br>-->
<div class="box">
    <div class="user-projects">
    <div class="images-left">
      <a href="https://safewebpro.bobgoo.com"><img alt="THE BEST WHITELIST INTERNET BROWSER FOR iOS" src="{{ "https://safewebpro.bobgoo.com/img/FBBanner.png" | prepend: site.baseurl }}" /></a>
    </div>
    <div class="contents-right">
      <h2><a href="https://safewebpro.bobgoo.com"> SAFE WEB PRO </a></h2>
      <h2>WHITELIST INTERNET BROWSER FOR iOS</h2>
      <p>Safe Web Pro is a must-have in order to control what your guest customers and employees may or may not browse.</p>
      <p class="center"><a href="https://safewebpro.bobgoo.com">PROTECT YOUR BUSINESS NOW!</a></p>
    </div>
  </div>
</div>
<br>
<div class="box">
  <div class="user-projects">
    <div class="images-left">
      <a href="https://safeweb.bobgoo.com"><img alt="DO YOU KNOW WHAT THEY BROWSE?" src="{{ "https://safeweb.bobgoo.com/img/FBBanner.png" | prepend: site.baseurl }}" /></a>
    </div>
    <div class="contents-right">
      <h2><a href="https://safeweb.bobgoo.com"> SAFE WEB FOR KIDS </a></h2>
      <h2>DO YOU KNOW WHAT THEY BROWSE?</h2>
      <p>Average age at which your children first see adult content online is 11 and going down... Do something about it.</p>
      <p class="center"><a href="https://safeweb.bobgoo.com">PROTECT THEM NOW!</a></p>
    </div>
  </div>
</div>
<br>
<div class="box">
  <div class="user-projects">
    <div class="images-left">
      <a href="https://safespot.bobgoo.com"><img alt="mountains" src="{{ "https://safespot.bobgoo.com/img/FBBanner.png" | prepend: site.baseurl }}" /></a>
    </div>
    <div class="contents-right">
      <h2><a href="https://safespot.bobgoo.com"> SAFE SPOT FOR KIDS </a></h2>
      <h2>DO YOUR KNOW WHERE THEY REALLY ARE?</h2>
      <p>Until not using Safe Spot, the cheats on where they are will happen!</p>
      <p class="center"><a href="https://safespot.bobgoo.com">LOCATE THEM NOW!</a></p>
    </div>
  </div>
</div>